POSTGRES_DB=clube_do_album
POSTGRES_USER=clube
POSTGRES_PASSWORD=clube
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=clube
RABBITMQ_DEFAULT_PASS=clube
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

DATABASE_URL=postgresql://clube:clube@localhost:5432/clube_do_album
RABBITMQ_URL=amqp://clube:clube@localhost:5672
